workflows/AVtXyt8nIwrlWPV0.json
{
  "id": "AVtXyt8nIwrlWPV0",
  "name": "Expression freezing when mutating data",
  "nodes": [
    {
      "parameters": {},
      "id": "9112bfad-b6e6-474e-84df-2c7220370cc4",
      "name": "When clicking \"Test workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        660,
        840
      ]
    },
    {
      "parameters": {
        "operation": "getAllPeople",
        "returnAll": true
      },
      "id": "2597725d-d195-4bd0-8402-277af719b93a",
      "name": "Customer Datastore (n8n training)",
      "type": "n8n-nodes-base.n8nTrainingCustomerDatastore",
      "typeVersion": 1,
      "position": [
        860,
        840
      ],
      "executeOnce": false
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "941832bf-e662-4189-b8ae-42ca4c4f9eb7",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1060,
        840
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "reversed",
              "stringValue": "={{ $json.data.reverse() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "5c3305fa-9a6d-4aec-9655-03d22b19b1cf",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        1280,
        840
      ]
    }
  ],
  "connections": {
    "When clicking \"Test workflow\"": {
      "main": [
        [
          {
            "node": "Customer Datastore (n8n training)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Customer Datastore (n8n training)": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "triggerCount": 0,
  "versionId": "b8ecac29-4667-493e-83d6-3f654c6772db",
  "owner": {
    "type": "personal",
    "personalEmail": "csaba@n8n.io"
  }
}