workflows/FicoGxPYIgIqGKxe.json
{
  "id": "FicoGxPYIgIqGKxe",
  "name": "Multiple_trigger_node_rerun",
  "nodes": [
    {
      "parameters": {},
      "id": "c232c1d4-3861-49ad-b246-d03b3d5c76fc",
      "name": "When clicking \"Test workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        1060,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.first_name_reversed = item.json = {\n    name: item.json.name,\n    firstnNameReversed: item.json.name_BUG.split(\"\").reverse().join(\"\")\n  };\n}\n\nreturn $input.all();"
      },
      "id": "23b22a8c-fec9-4a4a-bc6a-c7085e6201ed",
      "name": "do something with them",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1500,
        320
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "* * * * *"
            }
          ]
        }
      },
      "id": "8e83006a-efdc-4f82-b5ee-2d7e69dc279a",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        1060,
        520
      ]
    },
    {
      "parameters": {
        "operation": "getAllPeople",
        "returnAll": true
      },
      "id": "2187b7e4-44d4-4a88-a5e9-ae6e71177f09",
      "name": "fetch 5 random users",
      "type": "n8n-nodes-base.n8nTrainingCustomerDatastore",
      "typeVersion": 1,
      "position": [
        1300,
        320
      ]
    }
  ],
  "connections": {
    "When clicking \"Test workflow\"": {
      "main": [
        [
          {
            "node": "fetch 5 random users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "fetch 5 random users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fetch 5 random users": {
      "main": [
        [
          {
            "node": "do something with them",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "triggerCount": 0,
  "versionId": "3dbd3967-2546-4333-bc04-e966e80152a5",
  "owner": {
    "type": "personal",
    "personalEmail": "csaba@n8n.io"
  }
}