workflows/IMMIJNsViBvpEZC9.json
{
  "id": "IMMIJNsViBvpEZC9",
  "name": "PAY-1344",
  "nodes": [
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "error",
              "type": "booleanValue"
            }
          ]
        },
        "options": {}
      },
      "id": "e275be15-7047-4ce7-8845-f19af70df0f4",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        1040,
        360
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "aff11f39-c30e-435a-84b8-d121db0da804",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "625c3e2e-8103-4376-ba52-888505658a2d",
      "name": "Filter",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        1260,
        360
      ]
    },
    {
      "parameters": {
        "errorMessage": "An error has occurred"
      },
      "id": "43e30225-5c2f-4e16-b636-50147eb1b940",
      "name": "Stop and Error",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1480,
        360
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 10
            }
          ]
        }
      },
      "id": "f3cdd163-f4f1-4630-b38f-a4921819c868",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        820,
        360
      ]
    }
  ],
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "triggerCount": 0,
  "versionId": "2dd15a49-b2b8-4c6f-bca1-81d0d82834e5",
  "owner": {
    "type": "personal",
    "personalEmail": "csaba@n8n.io"
  }
}