workflows/OQ7t1tpvlTjv2HNs.json
{
  "id": "OQ7t1tpvlTjv2HNs",
  "name": "Node re-execution test",
  "nodes": [
    {
      "parameters": {
        "path": "7a1685b7-46cc-4a3a-ae54-0a4f28731e93",
        "options": {}
      },
      "id": "04f665d0-7515-44cf-a3ee-98146f5b61bf",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        220,
        460
      ],
      "webhookId": "7a1685b7-46cc-4a3a-ae54-0a4f28731e93"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "ea89a63e-df15-458f-aa36-83d45e1bd463",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        620,
        460
      ]
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\nconsole.log('first code node');\n\nreturn $input.all();"
      },
      "id": "07881c7e-c94a-47c4-988b-8a5ca1796123",
      "name": "Code 1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        460
      ]
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\nconsole.log('second code node');\n\nreturn $input.all();"
      },
      "id": "b9e44f38-1d6d-42e7-b361-1c7da2574b51",
      "name": "Code 2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        820,
        460
      ]
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\nconsole.log('third code node');\nthrow new Error('My error');\n\nreturn $input.all();"
      },
      "id": "29721f82-03dd-44ef-a412-78a41c390aed",
      "name": "Code 3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        460
      ]
    },
    {
      "parameters": {
        "url": "https://random-data-api.com/api/v2/users?size=5",
        "options": {}
      },
      "id": "2504e4ba-eff8-4841-bcea-4f1943d59dfc",
      "name": "fetch 5 random users",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1020,
        460
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Code 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code 1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code 2": {
      "main": [
        [
          {
            "node": "fetch 5 random users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fetch 5 random users": {
      "main": [
        [
          {
            "node": "Code 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "triggerCount": 1,
  "versionId": "d02fd2ad-1f88-42f5-a865-9049388cded9",
  "owner": {
    "type": "personal",
    "personalEmail": "csaba@n8n.io"
  }
}