workflows/PymcwIrbqgNh3O0K.json
{
  "id": "PymcwIrbqgNh3O0K",
  "name": "Multiple trigger node rerun",
  "nodes": [
    {
      "parameters": {},
      "id": "5ae8991f-08a2-4b27-b61c-85e3b8a83693",
      "name": "When clicking \"Test workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        460,
        460
      ]
    },
    {
      "parameters": {
        "url": "https://random-data-api.com/api/v2/users?size=5",
        "options": {}
      },
      "id": "22511d75-ab54-49e1-b8af-08b8b3372373",
      "name": "fetch 5 random users",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        680,
        460
      ]
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.first_name_reversed = item.json = {\n    firstName: item.json.first_name,\n    firstnNameReversed: item.json.first_name_BUG.split(\"\").reverse().join(\"\")\n  };\n}\n\nreturn $input.all();"
      },
      "id": "4b66b15a-1685-46c1-a5e3-ebf8cdb11d21",
      "name": "do something with them",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        460
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "* * * * *"
            }
          ]
        }
      },
      "id": "d763fc3b-6c4a-4d39-8857-ff84f7b6dc83",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        460,
        660
      ]
    }
  ],
  "connections": {
    "When clicking \"Test workflow\"": {
      "main": [
        [
          {
            "node": "fetch 5 random users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fetch 5 random users": {
      "main": [
        [
          {
            "node": "do something with them",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "fetch 5 random users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "triggerCount": 0,
  "versionId": "b9a6c3b0-15cd-4359-a92e-12a691a36b7b",
  "owner": {
    "type": "personal",
    "personalEmail": "csaba@n8n.io"
  }
}