workflows/QPY5XLyhsUCt5YUe.json
{
  "id": "QPY5XLyhsUCt5YUe",
  "name": "My workflow 10",
  "nodes": [
    {
      "parameters": {
        "jsCode": "return [\n  {\n    id: 6666\n  },\n  {\n    id: 3333\n  },\n  {\n    id: 9999\n  },\n  {\n    id: 1111\n  },\n  {\n    id: 4444\n  },\n  {\n    id: 8888\n  },\n]"
      },
      "id": "1713c327-bc54-4282-8cae-4c6ab4be14b5",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -520,
        580
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "id",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "1c43b3b3-b3e2-42fc-8238-1742dc4ac609",
      "name": "Set2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -40,
        780
      ]
    },
    {
      "parameters": {},
      "id": "fdaaaabc-2892-409e-9994-b6cbe8d6d766",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -740,
        580
      ]
    },
    {
      "parameters": {
        "operation": "sort",
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "id"
            }
          ]
        },
        "options": {}
      },
      "id": "f0f720ed-5810-4c98-a6a9-82b7dc625a64",
      "name": "Item Lists",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 2,
      "position": [
        -280,
        580
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "id",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "0a26e713-16d0-4847-bbab-6adea44261d4",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -60,
        580
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "2c3a71a8-728b-4458-a6d7-5b6cf32c30c7",
      "name": "Set1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -280,
        780
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.id }}",
              "operation": "smallerEqual",
              "value2": 6666
            }
          ]
        }
      },
      "id": "12c853dd-6c33-4ab5-9508-3957baeae8b1",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        160,
        580
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "eb5eda77-5d9a-4a80-85e5-f0d0c8e609aa",
      "name": "Set3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        140,
        780
      ]
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    id: 1000\n  },\n  {\n    id: 300\n  },\n  {\n    id: 2000\n  },\n  {\n    id: 100\n  },\n  {\n    id: 400\n  },\n  {\n    id: 1300\n  },\n]"
      },
      "id": "ef61d5e3-7ee6-43b1-ab3d-4ef79f63908b",
      "name": "Code1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -520,
        780
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "ae2a7375-25d8-4850-9bf4-eb21b3380949",
      "name": "Set4",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        460,
        460
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "b50ca594-b73f-4fa6-aa16-b5e715ae5fb1",
      "name": "Set5",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        460,
        660
      ]
    }
  ],
  "connections": {
    "Code": {
      "main": [
        [
          {
            "node": "Item Lists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set2": {
      "main": [
        [
          {
            "node": "Set3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set1": {
      "main": [
        [
          {
            "node": "Set2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Set4",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Set1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "triggerCount": 0,
  "versionId": "7c3a95fe-c8b4-4010-8ab6-030b8ddbdaa8",
  "owner": {
    "type": "personal",
    "personalEmail": "csaba@n8n.io"
  }
}