workflows/RESDcsaVXTuO6rUj.json
{
  "id": "RESDcsaVXTuO6rUj",
  "name": "My workflow 13",
  "nodes": [
    {
      "parameters": {
        "jsCode": "return [\n  {\n    id: 6666\n  },\n  {\n    id: 3333\n  },\n  {\n    id: 9999\n  },\n  {\n    id: 1111\n  },\n  {\n    id: 4444\n  },\n  {\n    id: 8888\n  },\n]"
      },
      "id": "f79e0503-ab50-49b3-a0bd-2f64b2ee1bf7",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -520,
        580
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "id",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "1dda292e-334c-4ea7-b3a0-fe9c7dc8475b",
      "name": "Set2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -40,
        780
      ]
    },
    {
      "parameters": {},
      "id": "bbe67792-e157-4367-b51a-8bd8092b1d48",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -740,
        580
      ]
    },
    {
      "parameters": {
        "operation": "sort",
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "id"
            }
          ]
        },
        "options": {}
      },
      "id": "d49ba11b-ea6f-4c68-b618-758da60826b4",
      "name": "Item Lists",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 2,
      "position": [
        -280,
        580
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "id",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "1addc6c5-1021-4383-b428-9307342bd879",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -60,
        580
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "1a1f7666-29f5-4a08-83e8-840709ba40e1",
      "name": "Set1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -280,
        780
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.id }}",
              "operation": "smallerEqual",
              "value2": 6666
            }
          ]
        }
      },
      "id": "acdd6b91-10e5-4824-8a4e-7bb138574e5d",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        160,
        580
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "663b5bec-a72b-43ec-a07e-ba95d9916035",
      "name": "Set3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        140,
        780
      ]
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    id: 1000\n  },\n  {\n    id: 300\n  },\n  {\n    id: 2000\n  },\n  {\n    id: 100\n  },\n  {\n    id: 400\n  },\n  {\n    id: 1300\n  },\n]"
      },
      "id": "444b5e2c-d871-48f9-b2ee-aabd803ecbe0",
      "name": "Code1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -520,
        780
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "e2781d53-7355-4b23-b443-617cd70f5766",
      "name": "Set4",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        460,
        460
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "c0415057-8f38-482f-bc35-d62301598d72",
      "name": "Set5",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        460,
        660
      ]
    }
  ],
  "connections": {
    "Code": {
      "main": [
        [
          {
            "node": "Item Lists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set2": {
      "main": [
        [
          {
            "node": "Set3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set1": {
      "main": [
        [
          {
            "node": "Set2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Set4",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Set1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "triggerCount": 0,
  "versionId": "2bd94a68-fe8a-413e-8cc5-32a5ccca9c5b"
}