workflows/WNq486x7DpV1MPRH.json
{
  "id": "WNq486x7DpV1MPRH",
  "name": "Node IO filter",
  "nodes": [
    {
      "parameters": {},
      "id": "46770685-44d1-4aad-9107-1d790cf26b50",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        400,
        260
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "480e3832-2ce4-4118-9f7b-a8aed6017174",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        1060,
        460
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.profile.name }}",
              "operation": "contains",
              "value2": "an"
            }
          ]
        }
      },
      "id": "4773d460-6ed9-49e1-a688-7e480f0fbacf",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1280,
        220
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "d17dffe6-e29c-4c1a-8b4c-9e374dcd70ea",
      "name": "True",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        1560,
        60
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "893d6e79-feb4-4752-a6f8-e2e5f5163787",
      "name": "False",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        1560,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "id": "c462f50d-c697-499c-b9d3-edd599f6135c",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1780,
        60
      ]
    },
    {
      "parameters": {},
      "id": "bce01804-d367-4df3-9f9a-e262ef2debb0",
      "name": "HTML",
      "type": "n8n-nodes-base.html",
      "typeVersion": 1,
      "position": [
        1060,
        60
      ]
    },
    {
      "parameters": {
        "path": "302084b4-d8ad-43c2-9d29-e8ad5a902e87",
        "options": {}
      },
      "id": "458a1eb7-6d7d-4d76-9278-a5c3a931a5bc",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        400,
        60
      ],
      "webhookId": "302084b4-d8ad-43c2-9d29-e8ad5a902e87"
    }
  ],
  "connections": {
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "True",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "False",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "True": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "triggerCount": 1,
  "versionId": "f421f6dd-b5b2-4ce6-8369-896b879b04fb"
}