workflows/XZY6NHDiBV3lqsyA.json
{
  "id": "XZY6NHDiBV3lqsyA",
  "name": "Expression preview test",
  "nodes": [
    {
      "parameters": {},
      "id": "5b6f5828-4e8f-4ec5-9175-46dba1dac3ff",
      "name": "When clicking \"Test workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        660,
        520
      ]
    },
    {
      "parameters": {
        "operation": "getAllPeople",
        "returnAll": true
      },
      "id": "0210a994-c563-4b8c-b519-96edb29f363f",
      "name": "Customer Datastore (n8n training)",
      "type": "n8n-nodes-base.n8nTrainingCustomerDatastore",
      "typeVersion": 1,
      "position": [
        880,
        520
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f3c0d3c2-bf0d-4fe7-902f-be8eafbd4110",
              "name": "id",
              "value": "={{ $json.id }} {{ $json.name }} {{ $json.email }} {{ $json.notes }} {{ $json.country }} {{ $json.created }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "325840f3-6aab-4ef4-8912-b4edf4b30f31",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        1540,
        520
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT * from users where name={{ $json.name }}",
        "options": {}
      },
      "id": "c2fd730c-196c-4066-853e-e81d66b5f1a0",
      "name": "Postgres",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1380,
        780
      ]
    },
    {
      "parameters": {
        "url": "=http://api.com/{{ $json.id }}",
        "options": {}
      },
      "id": "ce602d93-4ebb-4eef-ac90-4fdaad457c06",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1140,
        360
      ]
    }
  ],
  "connections": {
    "When clicking \"Test workflow\"": {
      "main": [
        [
          {
            "node": "Customer Datastore (n8n training)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Customer Datastore (n8n training)": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          },
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "triggerCount": 0,
  "versionId": "301c1894-ca05-4f3e-b44a-f228bb3739ea",
  "owner": {
    "type": "personal",
    "personalEmail": "csaba@n8n.io"
  }
}